{% extends "base.html" %}
{% block title %}Технические навыки{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот инструменты, которыми я умею пользоваться</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Git
      </li>
      <li class="list-group-item">
        Visual Studio Code
      </li>
      <li class="list-group-item">
        Linux
      </li>
      <li class="list-group-item">
        SQL
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Вот список инструментов, которыми я владею. Постоянно учусь чему-то новому </p>
  </article>
</div>
{% endblock %}